---
layout: layout1
title: Aiuti stato
permalink: '/aiuti-stato/'
---

<div class="container mt-4">
  <article id="post-152" class="max-width-3 mx-auto px2 post-152 page type-page status-publish hentry">
    <header class="page__header">
      <h1 class="page__title mb4">Informazioni ex art. 1, comma 125, della legge 4 agosto 2017 n. 124</h1>
    </header>
    <div class="page__content wysiwyg">
      <p>Come disposto dall’art. 1, comma 125, della L. 124/2017, si espongono gli importi relativi a sovvenzioni, contributi,
        incarichi retribuiti e vantaggi economici di qualunque genere, ricevuti dalle pubbliche amministrazioni e dai soggetti
        assimilati alle pubbliche amministrazioni.</p>
      <p style="font-weight: 400;">
        <strong>AIUTI DI STATO</strong>
      </p>
      <table style="font-weight: 400;" width="100%">
        <tbody>
          <tr>
            <td width="25%">
              <strong>SOGGETTO EROGANTE</strong>
            </td>
            <td width="25%">
              <strong>SOMMA INCASSATA</strong>
            </td>
            <td width="25%">
              <strong>DATA INCASSO</strong>
            </td>
            <td width="25%">
              <strong>CAUSALE</strong>
            </td>
          </tr>
          <tr>
            <td width="25%">ERARIO</td>
            <td width="25%">5.813,00</td>
            <td width="25%">07/07/2020</td>
            <td width="25%">CONTRIBUTO FONDO PERDUTO DL 34/2020</td>
          </tr>
          <tr>
            <td width="25%">ERARIO</td>
            <td width="25%">4.394,00</td>
            <td width="25%">20/08/2020</td>
            <td width="25%">ACCONTI IRAP ANNO 2020</td>
          </tr>
          <tr>
            <td width="25%">ERARIO</td>
            <td width="25%">216,00</td>
            <td width="25%">31/08/2020</td>
            <td width="25%">CREDITO IMPOSTA LOCAZIONI</td>
          </tr>
        </tbody>
      </table>
      <p style="font-weight: 400;">La società dichiara&nbsp; inoltre aiuti di stato e aiuti de minimis e che questi sono stati
        pubblicati nella sezione trasparenza del Registro nazionale degli aiuti di Stato di cui all’art. 52 della L. 232/2012 e
        consultabili al seguente link
        <a href="https://www.rna.gov.it/sites/PortaleRNA/it_IT/home">
          <strong>https://www.rna.gov.it/RegistroNazionaleTrasparenza/faces/pages/TrasparenzaAiuto.ispx</strong>
        </a>&nbsp;inserendo come chiave di ricerca nel capo CODICE FISCALE 01357300191.</p>
    </div>
  </article>
</div>