---
permalink: /identity.json
eleventyExcludeFromCollections: true
---
{
  "@context": "https://schema.org",
  "@type": ["Organization", "ProfessionalService"],
  "@id": "{{ site.url }}/#organization",
  "name": {{ site.name | dump | safe }},
  "legalName": {{ site.legalName | dump | safe }},
  "url": {{ site.url | dump | safe }},
  "logo": {{ site.logo | dump | safe }},
  "description": {{ site.description | dump | safe }},
  "email": {{ site.email | dump | safe }},
  "telephone": {{ site.telephone | dump | safe }},
  "foundingDate": {{ site.foundingDate | dump | safe }},
  "vatID": {{ site.vatID | dump | safe }},
  "taxID": {{ site.taxID | dump | safe }},
  "sameAs": {{ site.sameAs | dump | safe }},
  "knowsAbout": {{ site.knowsAbout | dump | safe }},
  "priceRange": {{ site.priceRange | dump | safe }},
  "areaServed": [
    {%- for area in site.areaServed -%}
    { "@type": "Place", "name": {{ area | dump | safe }} }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ],
  "makesOffer": [
    {%- for service in site.services -%}
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": {{ service.name | dump | safe }},
        "description": {{ service.description | dump | safe }},
        "provider": { "@id": "{{ site.url }}/#organization" }
      }
    }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ],
  "subjectOf": [
    {
      "@type": "WebContent",
      "name": "llms.txt",
      "url": "{{ site.url }}/llms.txt",
      "encodingFormat": "text/plain"
    },
    {
      "@type": "WebContent",
      "name": "llms-full.txt",
      "url": "{{ site.url }}/llms-full.txt",
      "encodingFormat": "text/plain"
    },
    {
      "@type": "FAQPage",
      "@id": "{{ site.url }}/#faq",
      "url": "{{ site.url }}/#aeo-faq"
    }
  ],
  "location": {
    "@type": "PostalAddress",
    "streetAddress": {{ site.legalAddress.streetAddress | dump | safe }},
    "addressLocality": {{ site.legalAddress.addressLocality | dump | safe }},
    "addressRegion": {{ site.legalAddress.addressRegion | dump | safe }},
    "postalCode": {{ site.legalAddress.postalCode | dump | safe }},
    "addressCountry": {{ site.legalAddress.addressCountry | dump | safe }}
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": {{ site.officeAddress.streetAddress | dump | safe }},
    "addressLocality": {{ site.officeAddress.addressLocality | dump | safe }},
    "addressRegion": {{ site.officeAddress.addressRegion | dump | safe }},
    "postalCode": {{ site.officeAddress.postalCode | dump | safe }},
    "addressCountry": {{ site.officeAddress.addressCountry | dump | safe }}
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "sales",
    "email": {{ site.email | dump | safe }},
    "telephone": {{ site.telephone | dump | safe }},
    "availableLanguage": {{ site.languages | dump | safe }}
  },
  "datePublished": {{ site.datePublished | dump | safe }},
  "dateModified": {{ site.dateModified | dump | safe }}
}
