---
layout: layout1
title: Home
permalink: '/'
---

<section id="hero" class="clearfix">
  <header class="hero__header px3">
    <h1 class="hero__title mb2">
      <span><span class="hero__title--start">You think.</span> <span class="hero__typewrite"></span></span>
    </h1>

  <div class="hero__content mx-auto">
      <p class="p1">We are an <strong>Italian</strong> <strong>creative</strong> <strong>studio</strong> specialising in <b>full-stack development</b>. Our clients are the main priority, but we <strong>love</strong> <strong>working</strong> <strong>with</strong> <strong>them</strong>, rather than for them.</p>
    </div>

    <div class="hero__cta mt3 sm-mt4">
      <a class="button" href="mailto:info@incode.it">Contact us</a>
    </div>

  </header>

  <div class="hero__toggle"></div>
</section>